@font-face {
    font-family: "Bembo";
    src: url("fonts/BemboStd.otf") format("opentype");
}

* {
    font-family: Bembo, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: #00669e;
    padding: 10px;
    border-bottom: 15px solid #98ccfd;
}
header > h1 {
    color: #e4eef4;
    font-weight: 500;
    font-size: 55px;
    /* position: absolute; */
}
.navigation {
    color: white;
    font-size: 30px;
    font-weight: normal;
    /* position: absolute; */

}